body {
    background-color: slategray;
    background-image: url(https://images-na.ssl-images-amazon.com/images/M/MV5BNDg1NTU2OWEtM2UzYi00ZWRmLWEwMTktZWNjYWQ1NWM1OThjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg);
}
h2 {
    color:  white;
}

#main-content {
    margin-top: 100px;
    background-color: rgb(37, 37, 37);  
    height: 800px;
}

a {
    color: #222222;
}
#movies {
    vertical-align: top;
}
#search {
    width: 400px;
}
button.search {
    padding: 0px;
    border: 0px;
}
img.search {
    width:36px;
    height:36px;
}
.navbar {
    height:100px;
}