<html>

<head>
    <title>Search Results</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IMDB Project</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Search Results</h1>
    {% if curuser %}
    <h2> {{curuser}} has logged in </h2>
    {% endif %}

    <form action='/' method="POST">
        {% csrf_token %}
        <button>Home</button>
    </form>

    <h2>Search bar</h2>
    <form action="/search/searchpage" method="POST" class="ajax_form">
        {% csrf_token %}
        <input type="search" name="search" id="ajax_search">
        <select name="search_option" id="searchselect">
            <option value="multi">All</option>
            <option value="movie">Movies</option>
            <option value="person">People</option>
            <option value="keyword">Keywords</option>
        </select>
        <input type="submit" value="search">
    </form>
    <div id='searches'>

    </div>

    <form action='/watchlist' method="POST">
        {% csrf_token %}
        <button>Watchlist</button>
    </form>

    <form action='/{{reg}}' method="POST">
        {% csrf_token %}
        <button>{{label}}</button>
    </form>

    <hr>

    <!-- API Entries -->
    <div id="search_results">

    </div>
    {% for movie in response.results %}
    <ul>

        {% if movie.original_title and movie.poster_path %}

        <li>{{movie.original_title}}</li>
        <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}">
        <br>
        {{movie.id}}
        <br>
        <a href="/{{movie.id}}">View</a>
        <a href="/{{movie.id}}/add_list">Add to Watchlist</a>

        {% endif %}

    </ul>
    {% endfor %}

    <!-- <h2>YOU CAN ALSO LIKE THESE MOVIES</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Options</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td><img src="{{movie.mov_img}}" alt="Missing Image" height="100px" width="100px"></td>
            <td>{{movie.mov_title}}</td>
            <td>
                <a href="/{{movie.id}}">View</a>
                <a href="/{{movie.id}}/add_list">Add to Watchlist</a>
            </td>
        </tr>
        {% endfor %}
    </table> -->


</body>

</html>