<html>

<head>
    <title>Search Results</title>
</head>

<body>

    <div id="wrapper" class="container">

                <h1>Search Results</h1>
                {% if curuser %}
                <h2> {{curuser}} has logged in </h2>
                {% endif %}

                <form action='/' method="POST">
                    {% csrf_token %}
                    <button>Home</button>
                </form>

                <form action='/search' method="POST">
                    {% csrf_token %}
                    <input type="text" name="search" id="search" value="movies">
                    <input type="submit" value="Search">
                </form>

                <form action='/watchlist' method="POST">
                    {% csrf_token %}
                    <button>Watchlist</button>
                </form>

    <!-- API Entries --> 
    <div id="search_results">

    </div>
    {% for i in response.results %}
    <ul>

        {% if i.original_title %}

            <li>{{i.original_title}}</li>

            {% elif i.name %}

                <li>{{i.name}}</li>

            {% elif i.title %}

            <li>{{i.title}}</li>

            {% elif i.poster_path %}

            <li>img{{i.poster_path}}</li>

        {% endif %}

    </ul>
    {% endfor %}

    <!-- <h2>YOU CAN ALSO LIKE THESE MOVIES</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Options</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td><img src="{{movie.mov_img}}" alt="Missing Image" height="100px" width="100px"></td>
            <td>{{movie.mov_title}}</td>
            <td>
                <a href="/{{movie.id}}">View</a>
                <a href="/{{movie.id}}/add_list">Add to Watchlist</a>
            </td>
        </tr>
        {% endfor %}
    </table> -->


</body>

</html>