<html>

<head>
    <title>Watchlist</title>
</head>

<body>
    <h1>Watchlist</h1>
    {% if curuser %}
        <h2> {{curuser}} has logged in </h2>
    {% endif %}

    <form action='/' method="POST">
        {% csrf_token %}
        <button>Home</button>
    </form>

    <form action='/search' method="POST">
        {% csrf_token %}
        <input type="text" name="search" id="search" value="movies">
        <input type="submit" value="Search">
    </form>
    
    <form action='/watchlist' method="POST">
        {% csrf_token %}
        <button>Watchlist</button>
    </form>

    <form action='/{{reg}}' method="POST">
        {% csrf_token %}
        <button>{{label}}</button>
    </form>





    <hr>

    <!-- API Entries --> 
    <h2>YOU LIKE THESE MOVIES</h2>
    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Options</th>
        </tr>
        {% for movie in mov_list %}
        <tr>
            <td><img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}"></td>
            <td>{{movie.title}}</td>
            <td>
                <a href="/{{movie.id}}">View</a>
                <a href="/{{movie.id}}/rm_list">Remove from Watchlist</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>