<html>

<head>
        <meta charset="UTF-8">

        <!-- Allows for multi device responsiveness-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    
        <!-- Latest compiled and minified CSS -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    
        <!-- The line above tells Django to be ready to listen for static files -->
        
        <link rel="stylesheet" href="/static/imdb/css/login.css" media="screen" title="no title" charset="utf-8">
        
        <title>Login Page</title>
</head>

<body>
        <div id="container">
            <div id="main-content" class"row">
                <div id="login-box" class="offset-md-4 col-6"> 
                    <a href='/'><img src="/static/imdb/images/imdblogo.jpg" alt="Home" ></a>
                    <h3> Register </h3>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tages }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    <form action='register/' method='POST'>
                        {% csrf_token %}
                        <label for="first_name">First Name:</label><br>
                        <input type="text" name="first_name" id="first_name">
                        
                        <label for="last_name">Last Name:</label><br>
                        <input type="text" name="last_name" id="last_name">
                                                
                        <label for="email">Email:</label><br>
                        <input type="text" name="email" id="email">
                        
                        <br>
                        <label for="password">Password:</label><br>
                        <input type="password" name="password" id="password">
                
                        <label for="pswdcon">Password Confirmation:</label><br>
                        <input type="password" name="pswdcon" id="pswdcon"><br><br>

                        <input type="submit" value="Register">
                    </form>
                       
                </div>
                 
            </div>
        </div>
    </body>
    
</html